 <font size="20"> Heart Disease </font>

In [40]:
library(tidyverse)
library(repr)
library(tidymodels)

url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"
heart_data <- read.csv(file = url) |>
rename(age=X63.0,
       sex=X1.0,
       chest_pain=X1.0.1,
       resting_blood_pressure=X145.0,
       cholesterol=X233.0,
       fasting_blood_sugar=X1.0.2,
       resting_electrocardiographic_results=X2.0,
       max_heart_rate=X150.0,
       exercise_induced_angina=X0.0,
       S_depression_induced=X2.3,
       slope_of_peak_exercise=X3.0,
       major_vessels=X0.0.1,
       thal=X6.0,
       heart_disease_diagnosis=X0) |>
    
    select(sex, cholesterol, heart_disease_diagnosis)

heart_data

#The table below summarizes the mean cholesterol level for males(1) and females(0).
group_by(heart_data, sex) |>
    summarize(cholesterol=mean(cholesterol, na.rm=TRUE))

    sex cholesterol heart_disease_diagnosis
1   1   286         2
2   1   229         1
3   1   250         0
⋮   ⋮   ⋮           ⋮
300 1   131         3
301 0   236         1
302 1   175         0

  sex cholesterol
1 0   261.7526
2 1   239.6341